h1 {
    text-transform: uppercase;
    font-size: 2.5em;
    font-family: helvetica arial;
}

body {
    margin-top: 0;
}
.navigation-box {
    font-size: 1.2em;
    font-weight: bold;
    float: left;
    border-right: 2px solid black;
    margin-right: 1cm;
    padding-right: 0.3cm;
    padding-top: 1cm;
    height: 100vh;
    background: #0080ff;
}

.navigation-box a {
    text-decoration: none;
    color: black;
}

.navigation-box a:visited {
    text-decoration: none;
    color: black;
}

.navigation-box ul {
    padding: 0;
    margin: 0;
    width: 100%;
}
.navigation-box li {

    line-height: 1.5em;
    width: 100%;
    padding-left: 0.3cm;
    list-style: none;
    transition: background 0.5s;
}

.navigation-box li:hover {
    text-decoration: none;
    color: #000080;
    background: #00b0ff;
    transition: background 2s;
}

.toolbar {
    background: #0080ff;
    text-align: left;
    padding: 3mm;
    padding-right: 2cm;
}
