<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>Sistema de bibliotecas</title>
    <link href="/static/main.css" rel="stylesheet" />
</head>
<body>


<div class="navigation-box">
    <ul>
        <li><a href="{% url 'list_books' %}">Livros</a></li>
        <li><a href="{% url 'list_books' %}">Autores</a></li>
        <li><a href="{% url 'list_books' %}">Empréstimos</a></li>
        <li><a href="{% url 'list_users' %}">Usuários</a></li>
    </ul>
    {% block navigation %}
    {% endblock %}
</div>
{% block toolbar %}
  <div class="toolbar">
    {% if user.is_authenticated %}
    <a href="{% url 'logout' %}">Sair</a>
    {% else %}
    <a href="{% url 'login' %}">Entrar</a>
    {% endif %}
  </div>
{% endblock %}
{% block content %}
{% endblock %}
</body>
</html>
