{% extends 'base.html' %}

{% block content %}

<h1>{{ book.title }}</h1>

<ul>
    <li> Autor: {{ book.author.name }}</li>
    <li> ISBN: {{ book.isbn }}</li>
    <li> Exemplares disponíveis: {{ book.copies | length }}</li>
</ul>
<p><a href="{% url 'edit_book' id=book.id %}">Editar</a></p>
<p><a href="{% url 'list_books' %}"> Voltar ao início</a></p>

{% endblock %}
