{% extends 'base.html' %}
{% block content %}

<h1>{% if book.title %}}{{ book.title }}{% else %} Novo livro {% endif %}</h1>
<form action="#" method="POST">
    {% csrf_token %}
    <table>
        {{ form.as_table }}
    <table>
    <p><input type="submit" value="Salvar"/></p>
</form>
<a href="{% url 'list_books' %}">Lista de livros</a>
{% endblock %}
