{% extends 'base.html' %}
{% block content %}
<h1>Listagem de {{ object_type }}</h1>

<ul>
    {% for object in objects %}
    <li><a href="{{ object.url }}">{{ object }}</a></li>
    {% endfor %}
</ul>
<a href="{{ create_url }}">Cadastrar novo</a>

{% endblock %}
