{% extends 'base.html' %}

{% block content %}
<h1>Editando usuário</h1>
<form action="#" method="POST">
    {% csrf_token %}
    <ul>
        {{ form.as_ul }}
    </ul>
    <p><input type="submit" value="Salvar"/></p>
</form>
{% endblock %}