<h1>{% if user.name %}}{{ user.name }}{% else %} Novo usuário {% endif %}</h1>
<form action="#" method="POST">
    {% csrf_token %}
    <ul>
        {{ form.as_ul }}
    </ul>
    <p><input type="submit" value="Salvar"/></p>
</form>
<a href="{% url 'list_users' %}">Lista de livros</a>