{% extends "base.html" %}

{% block content %}

<h1>{{ object.first_name }} {{ object.last_name }}</h1>

<ul>
    <li> Username: {{ object.username }}</li>
    <li> email: {{ object.email }}</li>
</ul>
<p><a href="{% url 'edit_user' pk=object.id %}">Editar</a></p>
<p><a href="{% url 'list_users' %}">Voltar ao início</a></p>

{% endblock %}