{% extends "base.html" %}

{% block content %}
    <h2>Usuários</h2>
    <ul>
        {% for user in object_list %}
        <li><a href="{% url 'view_user' pk=user.pk %}">{{ user.username }}</a>{{ user.first_name }}</li>
        {% endfor %}
    </ul>
{% endblock %}