{# https://docs.djangoproject.com/en/2.2/topics/auth/default/#using-the-views #}

<form method="post" action="{% url 'login' %}">
{% csrf_token %}

    {{ form.as_table }}

<input type="submit" value="login">
<input type="hidden" name="next" value="{{ next }}">
</form>
